@tailwind base;
@tailwind components;
@tailwind utilities;

.uecfont{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h2 {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

.sectiontwo {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}
